.widget_shopping_cart {
    .woocommerce-mini-cart {
        margin-bottom: 0;

        &-item {
            display: flex;
            border-bottom: 1px solid $border_color;
            padding-bottom: rem(10px);

            &:not(:last-child) {
                margin-bottom: rem(10px);
            }

            .p-image {
                @include flex(50px);
                margin-right: 10px;
            }

            .p-content {
                flex: 1;
                font-size: rem(13px);

                .p-title {
                    line-height: 1.4285;
                    margin-bottom: rem(7px);
                }

                .p-data {
                    .variation {
                        @extend %flex;
                        line-height: 1;
                        align-items: center;
                        margin-bottom: rem(3px);

                        p {
                            margin-bottom: 0;
                        }

                        dt {
                            margin-right: rem(5px);
                            font-weight: 600;
                        }

                        dd {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .remove_from_cart_button {
                @include position(absolute, 0, null, null, 0);
                color: red;
                line-height: 1;

                &:hover {
                    color: $hover_color;
                }
            }
        }
    }

    .mini-cart-action {
        .woocommerce-mini-cart__total {
            @extend %flex;
            align-items: center;
            margin-bottom: 0;
            &:not(:last-child){
                padding: rem(10px 0);
                border-bottom: 1px solid $border_color;
            }
            strong{
                flex: 1;
            }
            span{
                float: right;
            }
        }
        .woocommerce-mini-cart__buttons{
            @extend %flex;
            align-items: center;
            padding-top: rem(15px);
            margin-bottom: rem(10px);
            .wc-forward{
                @include flex(49%);
                padding: rem(10px);
                background: $primary_color;
                color: $light_color;
                text-align: center;
                &:hover{
                    background: $hover_color;
                }
            }
            .checkout{
                float: right;
                margin-left: 2%;
            }

        }
    }
}