.widget_product_search {
    .woocommerce-product-search {
        display: flex;
        width: 100%;
        position: relative;

        input[type=search] {
            height: rem(50px);
            padding: rem(7px 30px 7px 20px);
            border: none;
            @include transition(all .3s ease);
        }

        button {
            @extend %flex-item-center;
            height: rem(50px);
            padding: rem(0 10px);
            font-size: 0;
            font-weight: normal;
            background: none;
            color: $primary_color;
            @include position(absolute, 0, 0);
            @include transition(all .3s ease);

            &:before {
                content: '\eb2e';
                font-family: $icon_font;
                font-size: rem(20px);
            }

            &:hover {
                color: $hover_color;
            }
        }
    }
}