.widget_product_categories {
    .cat-parent {
        &:before {
            content: '\ea48';
            font-family: $icon_font;
            font-size: rem(16px);
            line-height: 1;
            @include position(absolute, 8px, 0);
            @include transition(all .4s);
        }

        &.active {
            &:before {
                @include transform(rotate(-180deg));
            }
        }
    }

    .cat-item {

    }
}