.widget_calendar {
    .calendar_wrap {
        table {
            margin: 0;
        }
    }

    caption {
        caption-side: top;
        text-align: center;
        margin-bottom: 10px;
        background: $primary_color;
        color: $light_color;
    }

    td, th {
        &:first-child {
            padding-#{$left}: rem(8px);
        }
    }

    tr {
        text-align: center;

        td {
            a {
                color: $highlight_color;
            }

            &#today {
                background: $highlight_color;
                color: $light_color;
                font-weight: 600;

                a {
                    color: $light_color;
                }
            }

            &#prev {
                text-align: #{$left};
            }

            &#next {
                text-align: $right;
            }
        }
    }

    tfoot {
        tr {
            border-bottom: none;
        }
    }
}