.widget_recent_comments{
    li.recentcomments{
        flex: 1;
        color: $disable_color;
        a{
            color: $body_color;
            &:hover{
                color: $hover_color;
            }
        }
    }
}