.widget_product_tag_cloud {
    .tagcloud {
        @extend %flex;

        a {
            display: inline-flex;
            align-items: center;
            margin-bottom: rem(13px);
            line-height: 1;
            font-size: rem(14px) !important;
            position: relative;

            &:not(:last-child) {

                &:after {
                    content: '.';
                    @extend %flex-item-center;
                    margin-left: rem(8px);
                    margin-right: rem(8px);
                    font-size: rem(18px);
                    color: $primary_color;
                    @include position(relative, -4px);
                }
            }
            &:hover{
                color: $highlight_color;
            }
        }
    }
}