.admin-bar {
    .bh-cart-canvas .bh-cart-content,
    .wolfo-canvas-menu,
    .sticky-header {
        top: 32px !important;
    }

    .header-6 {
        .header-top {
            padding-top: rem(32px);
        }
    }
}

@media only screen and (min-width: 601px) and (max-width: 782px) {
    .admin-bar {
        .bh-cart-canvas .bh-cart-content,
        .wolfo-canvas-menu,
        .sticky-header {
            top: 46px !important;
        }

        .header-6 {
            .header-top {
                padding-top: rem(46px);
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .admin-bar {
        .bh-cart-canvas .bh-cart-content,
        .wolfo-canvas-menu,
        .sticky-header {
            top: 0 !important;
        }

        .header-6 {
            .header-top {
                padding-top: 0;
            }
        }
    }
}