//== Schema color
$label_scheme                   : #252525;
$dark_scheme                    : #222;
$light_scheme                   : #fff;
$gray_scheme                    : #f9f9f9;
$primary_scheme                 : #0b203f;
$black_color                    : #363636;
$light_color                    : #fff;
$title_color                    : #333333;

//== General Color
$primary_color		            : #0b203f;
$highlight_color	            : #e73950;
$disable_color		            : #898989;
$hover_color		            : #ca142c;
$border_color		            : #e1e1e1;

//== Button
$btn_txt_color                  : #9cbfb8;
$btn_txt_hover_color            : #ffffff;
$btn_bg_color                   : '';
$btn_bg_hover_color             : '';
$btn_border_color               : '';

//== Outer
$body_bg_color                  : #fff;
$body_bg_attachment             : unset;
$body_bg_repeat                 : no-repeat;

//== Layout
$page_content_width             : 1200px;

//== Body Font
$body_font                      : 'Work Sans';
$body_color		                : #555555;
$body_spacing		            : 0.01em;
$body_fz		                : 14px;
$body_lh		                : 1.86;
$body_fw                        : '';
$body_mgt                       : 15px;
$body_mgb_tag_p		            : 25px;

//== Heading Font General
$heading_font                   : 'Poppins';
$heading_style                  : normal;
$heading_color		            : #111111;
$heading_spacing		        : 0px;
//== Heading H1
$heading_fz_h1		            : 36px;
$heading_lh_h1		            : 1.27778; //== 46px
$heading_mgt_h1		            : 36px;
$heading_mgb_h1		            : 18px;
//== Heading H2
$heading_fz_h2		            : 32px;
$heading_lh_h2		            : 1.3125; //== 42px
$heading_mgt_h2		            : 36px;
$heading_mgb_h2		            : 14px;
//== Heading H3
$heading_fz_h3		            : 28px;
$heading_lh_h3		            : 1.36; //== 38px
$heading_mgt_h3		            : 36px;
$heading_mgb_h3		            : 10px;
//== Heading H4
$heading_fz_h4		            : 24px;
$heading_lh_h4		            : 1.25; //== 30x
$heading_mgt_h4		            : 36px;
$heading_mgb_h4		            : 6px;
//== Heading H5
$heading_fz_h5		            : 20px;
$heading_lh_h5		            : 1.3; //== 26px
$heading_mgt_h5		            : 36px;
$heading_mgb_h5		            : 6px;
//== Heading H6
$heading_fz_h6		            : 16px;
$heading_lh_h6		            : 1.5; //== 24px
$heading_mgt_h6		            : 38px;
$heading_mgb_h6		            : 6px;

$fw_100                         : 100;
$fw_200                         : 200;
$fw_300                         : 300;
$fw_400                         : 400;
$fw_500                         : 500;
$fw_600                         : 600;
$fw_700                         : 700;
$fw_800                         : 800;
$fw_900                         : 900;
$fw_bold                        : bold;

//== Page Title
$title_align                    : '';
$title_color                    : #222;
$title_pdt                      : '';
$title_pdb                      : '';
$title_background_color         : '';
$title_image                    : '';

//== Blog
$archive_sidebar_width          : '';

//== Font Icon
$icon_font                      : 'boxicons';

//== Screen
$screen-xl                      : 74.9375em; //== 1199px
$screen-lg                      : 61.9375em; //== 991px
$screen-md                      : 47.9375em; //== 767px
$screen-sm                      : 35.9375em; //== 575px

//== Widget
$divider_vetical                : true;
$divider_bottom                 : true;

//== Custom Config Bootstrap
$enable-shadows                 : true;

//== Custom function
$rem-fallback                   : true;
$rem-baseline                   : 10px;

//== Animate load more
$dotWidth                       : 5px;
$dotHeight                      : 5px;
$dotRadius                      : $dotWidth / 2;
$dotSpacing                     : $dotWidth + $dotWidth / 2;
$dotColor                       : $highlight_color;
$dotBgColor                     : $dotColor;
$dotBeforeColor                 : $dotColor;
$dotAfterColor                  : $dotColor;
$x1                             : $dotSpacing*1.2;
$y1                             : $dotSpacing*1.2;
$-x1                            : - $x1;
$-y1                            : - $y1;
$x2                             : $x1/1.414;
$y2                             : $y1/1.414;
$-x2                            : - $x2;
$-y2                            : - $y2;
$color-0                        : rgba($dotColor, 0);
$color-1                        : rgba($dotColor, 1);


