.header-mobile {
    box-shadow: 0px 3px 7px 0 rgba(54, 54, 54, 0.1);
    background: $light_scheme;

    .bhs-3 {
        @extend %flex-item-center;
        margin-left: auto;
        @media (min-width: 64.0625em) {
            .wolfo-ajax-search {
                margin-right: rem(15px);
            }
        }
    }

    .row {
        @extend %flex-item-center;
    }

    .bhs-2 {
        margin-left: 20px;
    }

    .col-md-10 {
        @extend %flex-item-center;
        justify-content: flex-end;
    }

    .bh-cart {
        .bh-cart-btn {
            .cart-text {
                margin-right: 0;
            }

            .cart-count {
                top: 8px;
            }
        }
    }

    .br-search {
        margin-right: rem(12px);

        .br-icon-search {
            @include position(relative, 2px);
        }
    }

    .bh-wishlist {
        margin-right: rem(10px);
    }
}

@media (max-width: $screen-xl) {
    .header-mobile {
        overflow-x: hidden;
    }
}

@media (max-width: 30em) {
    .header-mobile {
        .inner-header {
            padding: rem(10px 0);
        }

        .bhs-1 {
            @include flex(45%);
            text-align: center;
        }

        .bhs-2 {
            margin-left: 0;
        }

        .bhs-3 {
            margin-left: rem(15px);
        }

        .col-md-10 {
            @include flex(55%);
        }

        .bh-cart {
            h5 {
                padding-top: 0;
                margin-bottom: 0;
            }
        }
    }
}

@media (min-width: 64.0625em) {
    .header-mobile {
        .bhs-3 {
            .bhs-3 {
                margin-right: rem(15px);
            }
        }
    }
}