.post-listing {
    .post {
        @extend %flex;

        &-image {
            margin-right: rem(50px);

            & + .post-content {
                padding-top: rem(23px);
            }
        }

        &-content {
            flex: 1;

            .post-excerpt {
                margin-bottom: rem(25px);
            }
        }
    }
}