//== [ Categories List ]
.categories-list-wrapper {
    margin-bottom: rem(50px);

    &.layout-bg-image {
        .categories-item {
            @include border-radius(3px);
            overflow: hidden;

            &.has-image {
                .name {
                    @include position(absolute, 0, 0, 0, 0);
                }
            }

            &:not(.has-image) {
                .name {
                    min-height: rem(50px);
                    @include transition(all .4s);

                    &:hover {
                        background: $hover_color;
                    }
                }
            }

            a {
                display: block;
                position: relative;
                overflow: hidden;

                img {
                    @include transition(all .7s ease-in-out);
                }
            }

            .name {
                @extend %flex-item-center;
                justify-content: center;
                padding: rem(5px 20px);
                text-transform: uppercase;
                background: rgba(#000, .5);
                color: $light_color;

                small {
                    display: none;
                }
            }
        }
    }

    &.layout-txt-only {
        @extend %flex-item-center;
        min-height: rem(50px);
        padding: rem(10px 0);

        .categories-item {
            @extend %pd-plus-15;

            .name {
                small {
                    margin-left: rem(5px);
                    font-size: rem(8px);
                    position: relative;
                    top: -4px;
                }
            }
        }
    }

    .categories-item {

        &:hover {
            img {
                @include transform(scale(1.1));
            }
        }
    }
}

//== content page archive
.content-archive-wapper {
    .no-sidebar {
        margin-left: -15px;
        margin-right: -15px;
    }

    .column {
        margin-bottom: rem(46px);

        &.column-resize {
            margin-bottom: 0;
        }

        &.enable-boxed {
            margin-bottom: rem(30px);
        }
    }

    .enable-boxed {
        .post {
            overflow: hidden;
            @include border-radius(5px);
        }

        .post-content {
            padding: rem(18px 20px 30px);
        }
    }

    .post {
        &-image {
            & + .post-content {
                padding-top: rem(18px);
            }
        }

        &-excerpt {
            margin-bottom: rem(20px);

            p {
                margin-bottom: 0;
            }

            & + .btn.wolfo-button {
                margin-top: rem(8px);
            }
        }

        &-date-author {
            margin-bottom: 0;

            & + .post-excerpt {
                margin-top: rem(11px);
            }

            & + .btn.wolfo-button {
                margin-top: rem(11px);
            }
        }

        &-content {
            .entry-title {
                margin-bottom: rem(12px);
                margin-top: 0;
            }
        }
    }
}