//== Single Post password
.post-password-form{
    input[type="submit"]{
        display: inline-block;
        min-width: 135px;
        min-height: 50px;
        padding: rem(13px 20px);
    }
}
blockquote{
    position: relative;
    padding-#{$left}: rem(25px);
    margin: rem(35px 0);
    border-left: 4px solid $highlight_color;
    p{
        color: $highlight_color;
        font-style: italic;
    }
    cite{
        display: block;
        margin-top: rem(5px);
        font-size: rem(13px);
        font-style: normal;
        font-weight: normal;
        color: $disable_color;
        a{
            color: $disable_color;
        }
    }
}

pre{
    background: #eee;
    font-size: rem(15px);
    line-height: 1.6;
    margin-bottom: rem(20px);
    max-width: 100%;
    overflow: auto;
    padding: rem(25px);
}