.info-parallax {
    .single-post-info {
        min-height: rem(400px);
        height: 31.771vw;
        margin-bottom: rem(40px);

        &:before {
            content: '';
            background: rgba(#000, .5);
            @include position(absolute, 0, 0, 0, 0);
        }

        .inner-content-info {
            .entry-post-title {
                margin-bottom: rem(15px);

                .entry-title {
                    color: $light_color;
                }
            }

            .post-meta {
                color: $light_color;

                &-categories a {
                    color: $light_color;
                }

                a {
                    color: $light_color;
                }

                .post-date-author {
                    color: $light_color;
                }

                .post-author a {
                    color: $light_color;
                }

                .post-meta-date p {
                    color: $light_color;
                }
            }
        }
    }

    .single-post-image {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top center;
        background-size: cover;
        background-color: #f1f1f1;
        @include position(absolute, 0, 0, 0, 0, -2);
    }

    .inner-content {
        &-info {
            margin-bottom: rem(40px);

            .post-meta {
                &-categories {
                    margin-bottom: rem(15px);
                }
            }
        }
    }
}

.info-top-title,
.info-bottom-title {
    &.title-center {
        .single-post-info {
            .inner-content {
                &-info {
                    text-align: center;

                    .post-meta {
                        justify-content: center;
                    }
                }
            }
        }
    }

    .single-post-info {
        .inner-content-info {
            @extend %flex;
            text-align: left;

            > div {
                @include flex(100%);
            }

            .entry-post-title {
                margin-bottom: rem(5px);
            }

            .post-meta {
                @include order(3);
                justify-content: flex-start;

                &-date {
                    font-size: rem(13px);
                }

                &-comment {
                    font-size: rem(13px);
                }

                &-categories {
                    margin-bottom: rem(7px);
                }

                .post-date-author {
                    font-size: rem(13px);
                }
            }
        }
    }

    .single-post-image {
        & + .inner-content-info {
            margin-top: rem(20px);
        }
    }
}

.single-post-info {
    @extend %flex-item-end;
    margin-bottom: rem(20px);
    position: relative;

    &.bottom-title {
        @extend %mg-minus-15;
        margin-bottom: rem(40px);

        .single-post-image {
            @extend %pd-plus-15;
        }

        .inner-content-info {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .single-post-image {
        @extend %flex;
        width: 100%;
        justify-content: center;
    }

    .inner-content {
        @extend %flex;
        width: 100%;

        &-info {
            display: block;
            width: 100%;
            text-align: center;
            position: relative;

            & + .single-post-image {
                margin-top: rem(25px);
            }

            .entry-post-title {
                margin-bottom: rem(20px);
            }

            .post-meta {
                @extend %flex-item-center;
                justify-content: center;
                color: $body_color;

                > span {
                    margin: rem(0 10px);
                }

                .post-date-author {
                    font-size: rem(14px);
                    margin-bottom: 0;

                    a {
                        color: $body_color;
                    }
                }

                &-date {
                    font-size: rem(14px);
                    color: $body_color;
                }
            }
        }
    }
}