//== [ Loading Slick ]
.wolfo-slick {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;

    &.slick-initialized {
        visibility: visible;
        opacity: 1;
    }

    .slick-slide {
        .column:not(.enable-shadow) {
            margin-bottom: 0 !important;
        }
    }
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

//== Fix flex slider
.wolfo-slick {
    position: relative;
    z-index: 1;

    &.row {
        display: block;
    }

    &.d-flex {
        display: block !important;
    }

    .slick-track {
        margin-left: 0;
        margin-right: 0;
    }

    .slick-slide {
        > div {
            display: inline-flex;
            width: 100%;
            height: 100%;
        }
    }
}

.wolfo-slick-arrow {
    @extend %flex-item-center;
    height: 100%;
    @media (max-width: 64em) {
        display: none !important;
    }

    .slick-arrow {
        @extend %flex-item-center;
        justify-content: center;
        @include flex(50px);
        width: 100%;
        height: 50px;
        background: $light_scheme;
        @include box-shadow(0.5px 0.9px 4px 0 rgba(0, 0, 0, 0.1));
        @include border-radius(999px);
        font-size: rem(32px);
        color: $disable_color;
        cursor: pointer;
        position: relative;
        z-index: 4;
        @include transition(background 0.5s, color .4s);

        .inline {
            display: block;
            width: calc(100% + 10px);
            height: calc(100% + 10px);
            @extend %text-opacity-hiden;
            @include position(absolute, rem(-5px), null, null, rem(-5px));
            @include box-shadow(0 0 0 1px $primary_color);
            @include border-radius(999px);
            @include transition(transform 0.4s, opacity 0.4s);
            @include transform(scale(.8));
        }

        i:before {
            display: inline-block;
        }

        &.arrow-left:hover {
            i:before {
                @include animation(wolfoBtnHover ease-out 0.4s reverse);
            }
        }

        &.arrow-right:hover {
            i:before {
                @include animation(wolfoBtnHover ease-out 0.4s);
            }
        }

        &:hover {
            color: $light_color;
            background: $hover_color;

            .inline {
                @extend %text-opacity-show;
                @include box-shadow(0 0 0 1px $hover_color);
                @include transform(scale(1));
            }
        }
    }
}

//== Type
[class*='wolfo-slider-'] {
    position: relative;

    .slick-slide {
        display: flex;
    }

    .wolfo-content-container {
        position: relative;
    }

    .slick-dotted + .wolfo-slick-arrow {
        .slick-arrow {
            margin-top: -49px;
        }
    }

    .wolfo-slick-arrow {
        .slick-arrow {
            margin-top: -25px;
            @include position(absolute, 50%);
            @include transition(all .4s);
        }

        .arrow-left {
            left: 10px;
        }

        .arrow-right {
            right: 10px;
        }
    }
}

//== Style Button Arrow
.wolfo-custom-nav {
    .wolfo-slick-arrow {
        @extend %flex-item-center;
        justify-content: space-between;
        flex-direction: row;
        height: 100%;
        @include position(absolute, 0, 0, null, 0);

        .slick-arrow {
            position: relative;
            margin-top: 0 !important;
            top: -50px;
        }
    }
}

//== [ Dot Type ]
[class*='dot-layout-'] {
    &.dot-white {
        li:not(.slick-active) {
            button {
                background: $light_scheme;
            }
        }
    }

    //== [ Only Shortcode Tabs ]
    &.wolfo-tabs {
        .tab-pagination {
            @include flex(100% !important);
            margin-bottom: 0 !important;
            margin-top: rem(50px);
            padding: 0 !important;

            ul {
                @extend %flex;
                justify-content: center;

                li {
                    background: $disable_color;
                    @include border-radius(50%);

                    &:not(:last-child) {
                        margin-right: rem(10px);
                    }

                    &.active {
                        background: $highlight_color;
                    }
                }
            }
        }
    }

    .slick-dotted {
        padding-bottom: rem(48px);

        @media (max-width: $screen-lg) {
            padding-bottom: rem(30px);
        }
    }
}

.slick-dots {
    @extend %flex-item-center;
    justify-content: center;
    @include position(absolute, null, null, 0, null);

    li {
        width: auto;
        height: auto;
        margin: 0;

        &:not(:last-child) {
            button {
                margin-right: rem(10px);
            }
        }

        &:hover {
            button {
                background: $hover_color;
            }
        }

        &.slick-active button {
            background: $highlight_color;
        }

        button {
            width: 100%;
            height: 100%;
            padding: 0;
            background: $disable_color;
            @include border-radius(50%);

            &:before {
                display: none;
            }
        }
    }
}

.dot-layout-1 {
    .slick-dots {
        li {
            button {
                width: 8px;
                height: 8px;
            }
        }
    }

    //== [ Only Shortcode Tabs ]
    &.wolfo-tabs {
        .tab-pagination {
            li {
                width: 8px;
                height: 8px;
            }
        }
    }
}

.dot-layout-2 {
    .slick-dots {
        height: 13px;

        li {
            button {
                width: 5px;
                height: 5px;
                background: $disable_color;
                @include border-radius(50%);

                &:before {
                    content: '';
                    @extend %text-opacity-hiden;
                    display: inline-block;
                    width: 13px;
                    height: 13px;
                    border: 1px solid $highlight_color;
                    @include border-radius(50%);
                    @include transition(all .4s);
                    @include transform(scale(1.2));
                    @include position(absolute, -4px, 0, 0, -4px);
                }
            }

            &.slick-active button {
                background: $highlight_color;

                &:before {
                    @extend %text-opacity-show;
                    @include transform(scale(1));
                }
            }
        }
    }

    //== [ Only Shortcode Tabs ]
    &.wolfo-tabs {
        .tab-pagination {
            li {
                width: 5px;
                height: 5px;

                &:before {
                    content: '';
                    @extend %text-opacity-hiden;
                    display: inline-block;
                    width: 13px;
                    height: 13px;
                    border: 1px solid $highlight_color;
                    @include border-radius(50%);
                    @include transition(all .4s);
                    @include transform(scale(1.2));
                    @include position(absolute, -4px, 0, 0, -4px);
                }

                &.active:before {
                    @extend %text-opacity-show;
                    @include transform(scale(1));
                }
            }
        }
    }
}

.dot-layout-3 {
    .slick-dots {
        li {
            &:not(:last-child) {
                button {
                    margin-right: rem(7px);
                }
            }

            &.slick-active {
                button {
                    width: 15px;
                }
            }

            button {
                width: 5px;
                height: 5px;
                background: $highlight_color;
                @include transition(all .4s);
                @include border-radius(2.5px);
            }
        }
    }

    //== [ Only Shortcode Tabs ]
    &.wolfo-tabs {
        .tab-pagination {

            li {
                width: 5px;
                height: 5px;
                font-size: 0;
                padding-bottom: 0;
                margin-bottom: 0 !important;
                background: $highlight_color;
                @include transition(all .4s);

                &:before, &:after {
                    display: none !important;
                }

                &:not(:last-child) {
                    margin-right: rem(7px) !important;
                }

                &.active {
                    width: 15px;
                    @include border-radius(2.5px);
                }

                a {
                    display: block;
                    width: 100%;
                    height: 5px;
                }
            }
        }
    }
}

@media (min-width: 64.0625em) { //== 1025px
    .wolfo-hide-navi {
        .slick-arrow {
            opacity: 0;
            visibility: hidden;
        }

        &:hover {
            .slick-arrow {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

@media (min-width: 93.8125em) { //== 1501px
    .wolfo-slider-default {
        .wolfo-content-container {
            @include padding(null, 80px, null, 80px);
            @include margin(null, -80px, null, -80px);
        }
    }
    .wolfo-slider-offset {
        .wolfo-content-container {
            @include margin(null, 0, null, 0);
            @include padding(null, 80px, null, 80px);
        }
    }
}

@media (max-width: 93.75em) {
    .wolfo-slider-default {
        .wolfo-content-container {
            @include padding(null, 0, null, 0);
            @include margin(null, 0, null, 0);
        }
    }
}