//== remove bg default
.yith_woocompare_colorbox {
    #cboxTop,
    #cboxMiddle,
    #cboxBottom {
        &Left,
        &Center,
        &Right {
            width: auto;
            height: auto;
            background: none;
        }
    }
}

//== [ Custom popup compare ]
.compare-popup-wrapper {
    padding: rem(20px 30px 30px);

    .compare-title {
        padding-top: 0;
        margin-bottom: 0;
        text-align: center;
    }

    #yith-woocompare {
        padding: 0;
    }

    table.compare-list {
        tr {
            th {
                width: auto;
                padding: rem(5px 20px);
                font-family: $heading_font;
                font-size: rem(16px);
                color: $heading_color;
                text-transform: none;
            }

            td {
                width: 300px;
                padding: rem(11.5px 30px);
            }
        }

        tbody {
            tr {
                display: table-row;

                th {
                    border-left: 1px solid $border_color;
                }
            }

            tfoot {
                tr {
                    border-bottom: none;
                }
            }

            .remove {
                th, td {
                    background: none;
                }

                td {
                    border-bottom: 1px solid $border_color;

                    a {
                        font-size: rem(13px);
                        color: $disable_color;

                        &:hover {
                            color: $hover_color;
                        }
                    }
                }
            }

            .image {
                th, td {
                    background: none;
                }

                td {
                    background: none;
                    padding: rem(30px 30px 25px);
                }

                .image-wrap {
                    margin-bottom: rem(15px);

                    img {
                        background: none;
                        padding: 0;
                        margin-bottom: 0;
                        border: none;
                    }
                }

                .price {
                    text-align: left;
                    margin-bottom: rem(10px);
                }

                .product-title {
                    text-align: left;
                    margin-top: 0;
                    overflow: hidden;
                    font-size: rem(14px);
                    line-height: 1.43;
                    color: $primary_color;
                    font-family: $heading_font;
                    margin-bottom: rem(15px);
                }

                .product-addtocart {
                    width: 100%;
                    min-height: 40px;
                    height: auto;
                    font-size: rem(13px);
                    font-weight: 700;
                    text-transform: uppercase;
                    text-align: center;
                    position: relative;
                    top: auto;
                    background: $primary_color;
                    @include border-radius(3px);

                    i {
                        display: none;
                    }

                    a {
                        @extend %flex-item-center;
                        justify-content: center;
                        height: auto;
                        min-height: 40px;
                        padding: rem(13px 15px);
                    }

                    .nav-icon {
                        display: none;
                    }

                    .nav-txt {
                        display: none;
                        color: $light_color;

                        &.bot {
                            display: block;
                        }
                    }
                }
            }

            .description {
                font-size: rem(13px);

                p {
                    margin-bottom: 0;
                }

                ul {
                    padding-bottom: 0;
                    margin-bottom: 0;
                    text-align: left;
                }

                .woocommerce-product-details__short-description {
                    text-align: left;
                }
            }

            tr.price {
                td {
                    .price-wrap {
                        display: inline-block;
                        text-decoration: none;
                    }

                    del {
                        top: 1px;
                        @include order(2);
                    }

                    ins {
                        top: 4px;
                    }
                }
            }

            .view-product {
                .wolfo-button {
                    width: 100%;

                    a {
                        @extend %flex-item-center;
                        justify-content: center;
                        min-height: rem(40px);
                        color: $light_color;
                        font-size: rem(14px);
                        @include border-radius(3px);
                    }

                    &:hover {
                        background: $hover_color;
                    }
                }
            }
        }
    }
}

@media (max-width: 64em) {
    .compare-popup-wrapper {
        display: none;
    }
}