.product-addtocart {
    a.button {
        line-height: 1;
        height: 16px;

        > i {
            position: relative;
            font-size: rem(16px);
            color: $body_color;
            font-weight: normal;
        }
    }
}