.wolfo-button.btn-default {
    background: $primary_color;
    @include transition(all .4s, color 0s);

    a {
        color: $light_color;
        background-color: transparent;

        &:focus {
            background-color: $hover_color;
            color: #fff!important;
        }
    }

    &:hover {
        a {
            color: $light_color;
        }
    }

    &.btn-effect-2 {
        @include button-layout-effect-2();
    }

    &.btn-effect-3 {
        @include button-layout-effect-3();
    }

    &.btn-effect-4 {
        @include button-layout-effect-4();
    }
}

.wolfo-button-sc.btn-default {
    &:hover {
        color: var(--default-hover-color) !important;
        background: var(--default-hover-background) !important;

        a {
            color: var(--default-hover-tag-a-color) !important;
        }
    }
}