@import "button-default";
@import "button-outline";
@import "button-link";
@import "button-fancy";

.wolfo-button {
    display: inline-block;
    padding: 0;
    font-family: $heading_font;
    border-style: solid;
    border-color: transparent;

    &.enable-dashed {
        border-style: dashed;

        &:hover {
            border-style: solid;
        }
    }

    //== [ Size ]
    &.size-small a {
        min-height: rem(30px);
        padding: rem(4px 15px);
        font-size: rem(14px);
        line-height: 0;
        //line-height: 1.36;
    }

    &.size-medium a {
        min-height: rem(40px);
        padding: rem(10px 20px);
        font-size: rem(15px);
        line-height: 0;
        //line-height: 1.33333;
    }

    &.size-large a {
        min-height: rem(50px);
        padding: rem(14px 25px 15px);
        font-size: rem(16px);
        line-height: 0;
        //line-height: 1.3125;
    }

    &.align-center {
        margin-left: auto;
        margin-right: auto;
    }

    &.align-right {
        margin-left: auto;
    }

    a {
        @extend %flex-item-center;
        position: relative;
        background: $primary_color;
    }
}

@media (max-width: 64em) { //== 1024px
    .wolfo-button {
        &[class*="size-"] a {
            min-height: rem(30px);
            padding: rem(4px 15px);
            font-size: rem(14px);
            line-height: 1.36;
        }
    }
}
