//== [ Button Load More woocommerce ]
.wolfo-woo-loadmore {
    text-align: center;

    &.loading {
        a {
            min-width: rem(120px);
            min-height: rem(40px);

            span:not(.btn-line) {
                @extend %text-opacity-hiden;
                @include transition(all .4s);
            }

            &:before {
                content: '\ead9';
                font-family: $icon_font;
                font-size: rem(24px);
                color: $light_color;
                line-height: 1;
                margin-top: rem(-12px);
                margin-left: rem(-12px);
                @include position(absolute, 50%, null, null, 50%);
                @include animation(cssload-rotate 1.5s linear infinite);
            }
        }
    }
}