.product-quickview {
    line-height: 1;
    position: relative;

    .btn-quickview {
        line-height: 1;
        height: 16px;

        &.loading {
            > i {
                display: inline-flex;
                @include animation(cssload-rotate 1.5s linear infinite);

                &:before {
                    content: '\ead9';
                }
            }
        }

        > i {
            position: relative;
            color: $body_color;
            font-size: rem(16px);
            font-weight: normal;
        }
    }
}