.product-compare {
    display: inline-block;
    vertical-align: middle;
    align-items: center;
    position: relative;

    .compare.button {
        position: relative;
        font-size: 0;
        color: $body_color;
        font-weight: normal;

        &:before {
            content: '\eac6'; //== icon refresh
            font-family: $icon_font;
            font-size: rem(16px);
            line-height: 1;
        }
    }
}