.search {
    &-form {
        display: flex;
        width: 100%;
        position: relative;

        input[type=search] {
            height: rem(50px);
            padding: rem(7px 30px 7px 20px);
            @include transition(all .3s ease);
        }
    }

    &-submit {
        @extend %flex-item-center;
        height: rem(50px);
        font-size: rem(20px);
        background: none;
        color: $primary_color;
        @include position(absolute, 0, 0);
        @include transition(all .3s ease);

        &:hover {
            color: $hover_color;
            background: transparent;
        }
    }
}